footer{
    border-top: 1px solid rgba(0, 0, 0, 0.347);
    background-color: rgb(235, 233, 233);
    margin: 0;
    padding: 1rem;
}

footer .footer-content .logo-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
footer .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
footer .footer-content .logo-footer figure img{
    width: 118px;
}
footer .footer-content .logo-footer figure {
    margin: 0;
}

footer ul{
    margin: 0;
    list-style-type: none;
    
}

footer .footer-content .fast-link ul li a{
    text-decoration: none;
    color: grey;
}
footer .footer-content .fast-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

footer .social-links ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 1rem

}
footer .social-links a {
    text-decoration: none;
    border: none;
    outline: none;
    color: gray;
}
footer .social-links ul li:hover{
    cursor: pointer;
}

footer .copyright{
    border-top: 1px solid grey;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (max-width: 768px) {

    footer .copyright {
        flex-direction: column;
        align-items: center;
    }
    
}
.social-links ul li a svg {
    transition-duration: 200ms;
}
.social-links ul li a svg:hover{
    color: rgb(101, 201, 101);
}