div h2{
    text-align: center;
}

.webshop {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.webshop .sidebar{
    width: 20%;
    background-color: rgb(238, 238, 238);


    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;


    padding: .5rem;
}

.sidebar input{
    padding: 1rem;
    border-radius: 5px;
}
.sidebar .searchbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}
.sidebar .searchbar button {
    border: 0px;
    border-radius: 50px;
    background-color: #FC5F5F;
    padding: .5rem;
    color:white;
    transition: background-color 200ms, color 200ms;
    box-shadow: 0px 5px 5px grey;
    font-weight: bold;
    padding: 1rem;
}
.sidebar .searchbar button:hover{
    background-color: #75c32c;
    cursor: pointer;
}
.webshop .product-list{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
    gap: 1rem;
    width: 80%;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .webshop {
        flex-direction: column; /* Válts át oszlopos elrendezésre mobilon */
    }

    .webshop .sidebar {
        width: 100%; /* A sidebar teljes szélességű legyen */
        margin-bottom: 1rem; /* Kisebb margó a sidebar alatt */
    }

    .webshop .product-list {
        width: 100%; /* A terméklista teljes szélességű legyen */
        gap: 1rem; /* Kisebb gap a kártyák között */
    }

    .product-list {
        justify-content: center; /* Középre igazítás */
    }
}