div h2 {
    text-align: center;
}

.webshop {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.webshop .sidebar {
    width: 18%;
    background-color: rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
}

.sidebar input {
    padding: 1rem;
    border-radius: 5px;
}

.sidebar .searchbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.sidebar .searchbar button {
    border: 0px;
    border-radius: 50px;
    background-color: #FC5F5F;
    padding: .5rem;
    color: white;
    transition: background-color 200ms, color 200ms;
    box-shadow: 0px 5px 5px grey;
    font-weight: bold;
    padding: 1rem;
}

.sidebar .searchbar button:hover {
    background-color: #75c32c;
    cursor: pointer;
}

.sidebar .reset-filters-btn{
    padding: 1rem;
    border-radius: 50px;
}
.sidebar .reset-filters-btn:hover {
    background-color: hsl(40, 96%, 80%);
    cursor: pointer;
}
.webshop .product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 82%;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .webshop {
        flex-direction: column; /* Válts át oszlopos elrendezésre mobilon */
    }

    .webshop .sidebar {
        width: 100%; /* A sidebar teljes szélességű legyen */
        margin-bottom: 1rem; /* Kisebb margó a sidebar alatt */
    }

    .webshop .product-list {
        width: 100%; /* A terméklista teljes szélességű legyen */
        gap: 1rem; /* Kisebb gap a kártyák között */
    }

    .product-list {
        justify-content: center; /* Középre igazítás */
    }

    /* Mobile-specific styles for checkboxes */
    .sidebar div {
        margin-bottom: 15px;
    }

    .sidebar input[type="checkbox"] {
        width: 25px;
        height: 25px;
    }

    .sidebar label {
        font-size: 18px;
    }

    .searchbar input[type="search"] {
        width: 100%;
        font-size: 16px;
        padding: 10px;
    }

    .searchbar button {
        font-size: 16px;
        padding: 10px;
    }
}

/* General styles for the sidebar checkboxes */
.sidebar div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.sidebar input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.sidebar label {
    font-size: 16px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-label {
    background: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}