body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.active{
  color: #FC5F5F;
}

.container {
  max-width: 1200px; /* Maximális szélesség 1200px */
  width: 100%; /* Szélesség 100% */
  margin: 0 auto; /* Középre igazítás */
  overflow-x: hidden; /* Oldalra görgetés letiltása */
 
}


